*{
    margin: 0;
    padding: 0
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('https://cdn-media-1.freecodecamp.org/imgr/MJAkxbh.png');
}


.navbar{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color:#E8B6AE;
}
.nav-list{
    display: flex;
    margin-right: 2rem;
}
.nav-list a {
    display: block;
    font-size: 1.2rem;
    padding: 10px;
}

a {
    text-decoration: none !important;
    color: white !important;
}

a:hover{
   text-shadow: 1px 1px 1px grey
}

ul {
    list-style: none;
}

.block{
    height: 600px;
    background-color: #ffd2bf91;
    margin-bottom: 20px;
    padding: 60px 0;
    text-align: center
}
.contact{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.img{
    height: 170px;
}
.Blanco{
    color: white;
}
.grids{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}
.Proyectos{
    border-radius: 2px;
    height: 205px;
}
.Proyectos:hover{
    -webkit-box-shadow: 6px 0px 23px -13px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 0px 23px -13px rgba(0,0,0,0.75);
box-shadow: 6px 0px 23px -13px rgba(0,0,0,0.75);
}
.subtitulo{
    margin-top: 15%;
    font-size: 25px;
}